
.tout {
    background-image: url('../../../assets/cytogenetique.jpg');
    /* Autres propriétés selon les besoins */
    background-size: cover;
    background-position: center;
    margin: 0; /* Supprime les marges par défaut du corps */
    padding: 1px; /* Supprime les rembourrages par défaut du corps */
    height: 100vh; 
}
